<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Base</title>
</head>

<body>
  <h1>Welcome to the Korean Language Learning Website</h1>
  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="#">Greetings</a></li>
      <li><a href="#">Slang</a></li>
    </ul>
  </nav>



  {% block content %}
  <div class="main_content">
    <h1>IF this shows, it is successfuk</h1>



    {% endblock %}

</body>

</html>